env:
  node: true
  browser: true
  mocha: true

globals:
  assert: true
  expect: true

rules:
  indent: [2, 2]
  quotes: [1, "single"]
  valid-jsdoc:
    - 1
    - prefer:
        return: "returns"
      requireReturn: false
  no-use-before-define: [2, "nofunc"]
  no-unused-vars:
    - 1
    - args: "none"
